body{
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
    /* min-height: 100vh;
    width: 100%; */
    background-image:url(images/teashop.jpg);
    /* background-image:linear-gradient(rgba(5, 27, 11, 0.7),rgba(3, 27, 9, 0.7)),url(images/teashop.jpg); */
    /* background-position: center; */
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px;
}

h1,h2,p{    
    color: aliceblue;
    text-align: center;
    font-weight: 700;
    letter-spacing: 2px;
}
h1{
    font-size: 40px;
    margin-top: 1px;
}
h2{
    font-size: 35px;
}
.top,.bottom{
    height: 2px;
    background-color: rgba(70, 58, 40, 0.589);
    border-color: aqua;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.teaMenu{
   
    width: 70%;
    background-color: rgba(1, 66, 66, 0.247);
    border-radius: 20px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    /* padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px; */
    padding: 20px ;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.TeaItems p{
    display: inline-block;
    font-weight: 700;
    margin: 5px 0;
}

.TeaFlavor,.TeaCollections{
    text-align: left;
    width: 70%;
    /* background-color: rgba(0, 255, 255, 0.493); */
}
.TeaPrice,.CollectionPrice{
    text-align: right;
    width: 30%;
    /* background-color: rgba(123, 255, 0, 0.521);
 */
}
.established{
    font-style: italic;
    font-style: italic;
}
.icon{
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}
img{
    width: 50px;
    height: 50px;
    transition: 0.5s;
    cursor: pointer;
}
img:hover{
    transition: 0.5s;
    width: 70px;
    height: 70px;
}

img{
    height: 50px;
    width: 50px;
   
}
footer{
    font-size: 14px;
}
a:link{
    color: white;
    text-decoration: none;
    transition: 0.5s;
    
}
a:visited{
    color: aqua;
   
}
a:hover{
    transition: 0.5s;
	text-transform: full-width;
	letter-spacing: 5px;
}
a:active{
    color: rgb(0, 20, 133);
   
}
.Ahover{
    transition: 0.5s;
	text-transform: full-width;
	letter-spacing: 1px;
}
.Ahover:hover{
    transition: 0.5s;
	text-transform: full-width;
	letter-spacing: 6px;
}


